td:nth-child(even) {
    width: fit-content;
}

td:nth-child(odd) {
    width: 300px;
}

#budgetContent {
    background-color: rgb(255, 255, 255, 40%);
    position: relative;
    top: 50px;
    margin: auto;
    width: 50%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 0 0 20px 20px #006699;
}

table {
    margin: auto;
}

label {
    font-size: 1em;
}

th {
    font-size: 1em;
}

.calcBtn {
    background-color: lightgray;
    color: #006699;
    width: fit-content;
    height: 30px;
    font-size: 1em;
}

@media screen and (max-width: 1550px) {
    #budgetContent {
        font-size: .7em;
    }
    input {
        width: 80%;
    }
    td:nth-child(odd) {
        width: 150px;
    }
}