.userControl {
    background-color: rgb(255, 255, 255, 40%);
    position: relative;
    margin: auto;
    margin-top: 5%;
    width: 50%;
    color: #006699;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 0 0 20px 20px #006699;
}

#passReset {
    position: relative;
    top: 10vh;
    width: 25%;
    padding: 10px;
}

#login {
    width: 20%;
    position: relative;
    top: 10vh;
    padding: 10px;
}

a {
    color: black;
}

footer {
    position: absolute;
    bottom: 0;
}

@media screen and (max-width: 1550px) {
    #userControl {
        background-color: rgb(255, 255, 255, 30%);
        width: 70%;
        position: absolute;
        left: 15%;
        top: 10%;
        color: #006699;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .part2 {
        width: 100%;
        margin-bottom: 20px;
    }
    .part3 {
        margin-top: 20px;
    }
    footer hr {
        visibility: hidden;
    }
    #login {
        top: 0vh
    }
}