.userControl {
    background-color: rgb(255, 255, 255, 40%);
    position: relative;
    margin: auto;
    margin-top: 25%;
    width: 50%;
    color: #006699;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 0 0 20px 20px #006699;
}

a {
    color: black;
}

button {
    width: 100%;
    background-color: darkgray;
    color: #006699;
}

@media screen and (max-width: 1550px) {
    #userControl {
        background-color: rgb(255, 255, 255, 30%);
        width: 70%;
        position: absolute;
        left: 15%;
        top: 25%;
        color: #006699;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        ;
    }
}