#priorityIndicator {
    font-size: 1vw;
    color: #006699;
}

html,
body {
    overflow-y: visible;
}

body::after {
    content: '';
    height: 50vh;
}

a {
    text-decoration: none;
}

a:visited {
    color: #006699;
}