#priorityIndicator {
    margin: auto;
    width: 100%;
    font-size: 1vw;
    color: #006699;
}

.answer {
    text-align: left;
}

html,
body {
    overflow-y: visible;
}

body::after {
    content: '';
    height: 50vh;
}

a:visited {
    color: #006699;
}

table td {
    height: 1em;
}