body {
    padding: 20px;
}

#priorityIndicator {
    margin: auto;
    width: 100%;
    font-size: 1vw;
    color: #006699;
}

.answer {
    text-align: left;
}

#priorityIndicator table {
    width: 100%;
}

.reportAnswer {
    width: 17%;
    text-align: center;
}

html,
body {
    overflow-y: visible;
}

body::after {
    content: '';
    height: 50vh;
}

a:visited {
    color: #006699;
}