div {
    font-size: 1vw;
}

header {
    height: 12vh;
}

html,
body {
    overflow-y: visible;
}

#retirement {
    display: flex;
    margin: auto;
    width: 80%;
    background-color: rgb(255, 255, 255, 20%);
    box-shadow: 0 0 20px 20px #006699;
}

table tr td {
    width: 350px;
}

td:nth-child(even) {
    width: fit-content;
}

h1 {
    margin-bottom: 30px;
}

#div1 {
    padding: 20px;
    width: 100%;
}

#div2 {
    padding: 20px;
    width: 100%;
}

.btn {
    width: fit-content;
    height: fit-content;
    font-size: 15px;
    background-color: lightgray;
    color: #006699;
}

#follow {
    text-align: center;
    margin-bottom: 40px;
}

table th {
    text-align: center;
}

.step {
    color: #006699;
}

@media screen and (max-width: 1550px) {
    #retirement {
        position: relative;
        top: 50px;
        width: 90%;
        background-color: rgb(255, 255, 255, 20%);
    }
}