#million {
    height: fit-content;
    margin: auto;
    width: 35%;
    background-color: rgb(255, 255, 255, 20%);
    box-shadow: 0 0 20px 20px #006699;
}

h1 {
    margin-bottom: 80px;
}

#calculate {
    background-color: lightgray;
    color: #006699;
    font-size: 20px;
    width: fit-content;
    height: fit-content;
}

#result {
    color: #006699;
}

@media screen and (max-width: 1550px) {
    input {
        width: 80%;
    }
    #million {
        width: 50%;
    }
}