html {
    background: url(../Images/side.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 2.5vw;
    overflow-y: visible;
}

html,
body {
    overflow: visible;
}

table {
    width: 250vw;
}

input {
    width: 100%;
    font-size: 2.5vw;
}